<h1>All restaurants</h1>

<% if policy(Restaurant).new? %>
  <p><%= link_to "Add +", new_restaurant_path, style:"text-decoration: none;" %></p>
<% end %>

<ol>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant), style: "text-decoration: none;" %></li>
  <% end %>
</ol>
